*,
*::before,
*::after {
  box-sizing: content-box;
}


body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgba(247, 2, 2, 0.607);
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 100px;
  letter-spacing: 0.2rem;
}

h2 {
  position: relative; left: +50px;
  font-size: 45px;
}

section { 
    position: relative; right: -20px;
    line-height: 40px;
}

.Bild { 
  position:relative; left: 630px;
  position: relative; top: -240px;
  border: 4px solid black
 
}

.Allgemein {
  position: relative; top: -220px
}

img {
  width: 600px;
}